<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ask Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Enter email address of user which blogs you want to see</h2>
                <hr>
                {{#if error}}
                <div class="alert alert-danger">
                    User not found. Please check email.
                </div>
                {{/if}}
                <form action="/blogs/admin" method="POST">
                    <label for="user">
                        <input class="form-control" type="text" name="email" id="question" placeholder="user email" >
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>