<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Education Website</h2>
                <hr>
                <form action="/login" method="GET">
                    <p></p>
                    <button class="btn btn-info" type="submit">Login</button>
                </form>
                <form action="/signin" method="GET">
                    <p></p>
                    <button class="btn btn-info" type="submit">Register</button>
                </form>
                <form action="/google" method="GET">
                    <p></p>
                    <button class="btn btn-info" type="submit">connect with google</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>